@import "tailwindcss";

:root {
  --secondary: #ffffff;
  --action: #dc2626;
  --dark-grey: #303030;
  --black-grey: #1a1a1a;
  --grey: #5a5a5a;
  --light-grey: #e7e7e7;
  --off-white: #f1f1f1;

  --gap-xs: 2px;
  --gap-s: 8px;
  --gap-m: 12px;
  --gap-l: 16px;
  --gap-xl: 24px;
  --gap-2xl: 32px;

  --headline-1-size: 60px;
  --headline-2-size: 50px;
  --headline-3-size: 38px;
  --headline-4-size: 22px;
  --paragraph-size: 24px;
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-action: var(--action);
  --color-dark-grey: var(--dark-grey);
  --color-black-grey: var(--black-grey);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-off-white: var(--off-white);

  --spacing-gap-xs: var(--spacing-xs);
  --spacing-gap-s: var(--spacing-s);
  --spacing-gap-m: var(--spacing-m);
  --spacing-gap-l: var(--spacing-l);
  --spacing-gap-xl: var(--spacing-xl);
  --spacing-gap-2xl: var(--spacing-2xl);

  --text-headline-1-size: var(--headline-1-size);
  --text-headline-2-size: var(--headline-2-size);
  --text-headline-3-size: var(--headline-3-size);
  --text-headline-4-size: var(--headline-4-size);
  --text-paragraph-size: var(--paragraph-size);
}
