@import "tailwindcss";

:root {
  --secondary: #ffffff;
  --action: #dc2626;
  --dark-grey: #303030;
  --black-grey: #1a1a1a;
  --grey: #5a5a5a;
  --light-grey: #e7e7e7;
  --off-white: #f1f1f1;

  --gap-xs: 2px;
  --gap-s: 8px;
  --gap-m: 12px;
  --gap-l: 16px;
  --gap-xl: 24px;
  --gap-2xl: 32px;

  --redonda: "Redonda", sans-serif;
}

.light {
  --secondary: #000000;
  --action: #dc2626;
  --dark-grey: #f1f1f1;
  --black-grey: #e7e7e7;
  --grey: #5a5a5a;
  --light-grey: #303030;
  --off-white: #1a1a1a;

  --gap-xs: 2px;
  --gap-s: 8px;
  --gap-m: 12px;
  --gap-l: 16px;
  --gap-xl: 24px;
  --gap-2xl: 32px;

  --redonda: "Redonda", sans-serif;
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-action: var(--action);
  --color-dark-grey: var(--dark-grey);
  --color-black-grey: var(--black-grey);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-off-white: var(--off-white);

  --spacing-gap-xs: var(--spacing-xs);
  --spacing-gap-s: var(--spacing-s);
  --spacing-gap-m: var(--spacing-m);
  --spacing-gap-l: var(--spacing-l);
  --spacing-gap-xl: var(--spacing-xl);
  --spacing-gap-2xl: var(--spacing-2xl);

  --font-redonda: var(--redonda);
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("/fonts/Redonda-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
